version: '3.8'

services:
  frontend:
    image: nginx:alpine
    container_name: chadi_frontend
    ports:
      - "80:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - chadi-net
    depends_on:
      - python-backend
      - rust-backend
      - java-backend

  python-backend:
    build: ./backend/python
    container_name: chadi_python
    ports:
      - "8000:8000"
    volumes:
      - ./backend/python:/app
    networks:
      - chadi-net

  rust-backend:
    build: ./backend/rust
    container_name: chadi_rust
    ports:
      - "8001:8001"
    networks:
      - chadi-net

  java-backend:
    build: ./backend/java
    container_name: chadi_java
    ports:
      - "8002:8002"
    networks:
      - chadi-net

  clamav:
    image: clamav/clamav:latest
    container_name: chadi_clamav
    networks:
      - chadi-net
    ports:
      - "3310:3310" # Optional: Expose for local debugging


networks:
  chadi-net:
    driver: bridge
